@import  "https://fonts.googleapis.com/css?family=Roboto";

html,
button,
input,
select,
textarea {
    color: #222;
	font-family: 'Roboto',sans-serif;

}

body {
    font-size: 1em;
    line-height: 1.4;
	font-family: 'Roboto',sans-serif;
    color: #534d4d;
	
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
	font-family: 'Roboto',sans-serif;
}
body {
	font-family: 'Roboto',sans-serif;
	
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
	font-family: 'Roboto',sans-serif;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Roboto',sans-serif;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	font-family: 'Roboto',sans-serif;
}

.hsContainer {
	width: 100%;
	height: 100%;
	left: 0px;
	overflow: hidden;
	font-family: 'Roboto',sans-serif;
	
}

.hsContent {

    width: 100%;
    height: 100%;
    padding: 200px 0;
    text-align: center;
}
	
}
	.hsContent h2  {
		font-size: 35px;
		line-height: 38px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}

/* Slide 1 */
#slide-1 .bcg {
	background-image:url('../img/desk.jpg');
display: table;}
#slide-1 .hsContent {
}

/* Slide 2 */
#slide-2 .bcg {background-image:url('../img/pattern.jpg');}
#slide-2 .hsContent {

    width: 100%;
    height: 100%;

    text-align: center;
}


/* Slide 3 */
#slide-3 .bcg {background-image:url('../img/bcg_slide-3.jpg');}
#slide-3 .hsContent {
	margin-left: -239px;
}
	#slide-3 h2 {
		color: #f2ead6;
		background-color: rgba(0,0,0,0.6);
	}

/* Slide 4 */
#slide-4 .bcg {background-image:url('../img/desk.png')};
#slide-4 .hsContent {
	margin-left: -450px;
}
	#slide-4 h2 {
		background: none;
		padding-left: 0;
		padding-right: 0;
	}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.hsContent.section-1 {
	  display: table-cell;
    vertical-align: middle;
    
}

.hsContent.section-2 {
	display: table;
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    text-align: center;

}
    
}

.hsContent.section-1.heading {
	    display: table-cell;
    vertical-align: middle;
	text-align: centre;
	
}

h1.heading {
	font-size: 96px;
		text-align: center;

}

h2.heading {
	font-size: 48px;
	text-align: center;
	
}

.box {

    background: rgba(255,255,255,0.5);
    width: 20em;
    margin: 3em;
		margin-top: 4em;
	position: relative;
}

.text-box {

	padding: 1em;
    color: #534d4d;
}

.text-box p {
    text-align: justify;
	font-weight: 600;
    font-size: 13px;
    color: #534d4d;
	width: 100%;
}

.text-box h3 {

    text-align: right;
	margin:0em;
}

.text-box h4 {
    font-size: 12px;
    text-align: right;
    font-weight: 600;
	
    color: grey;
}

.profile h4 {
    margin-top: -40px;
    position: fixed;
}

img.box.small-pic {
    height: 65px;
    width: auto;
	left: -0.3em;
	top: -0.3em;
	margin: 0px;
	position: absolute;
    border: 3px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

img.box.profile-pic {
    height: 115px;
    width: auto;
    position: absolute;
    margin: 0;
    top: -3.5em;
	left: -0.5em;
    border: 5px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

.cvimg {
	margin-top: 100px;
    height: 650px;	
	display: table-cell;
    vertical-align: middle;
	 position: relative;
}


.container {
	width:60%;
	height: 100%;}
	
	.formbox {
    padding: 15px;
    color: #534d4d;
    display: table;
}

.box.formbox.label {
    font-weight: 500;
    font-size: 15px;
    line-height: 2.3;
}

.contact-list {
    color: #534d4d;
    display: table;
    width: 100%;
    list-style-type: none;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
}

.contact-list.contact-list-item {
    display: table-row;
    font-size: 2px;
}

.fa.contact {
    color: #534d4d;
    font-size: 24px;
    margin: 8px;
}